* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233d;
    margin-right: 32px;
    cursor: pointer;
}

img {
    display: inline-block;
    margin: 163px 0 0 123px;
}

div {
    display: inline-block;
    margin-left: 84px;
}

.btn-header {
    background: #6fbf44;
    border: 1px solid #4cb538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
}

.btn-header:hover {
    opacity: 0.8;
}

.btn-header:active {
    opacity: 0.6;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161a49;
    width: 582px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4b505a;
    width: 493px;
    margin: 47px 0 55px;
}

a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6fbf44;
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    header {
        display: none;
    }

    div {
        display: block;
        margin-left: 0px;       
        position: relative;
        top: 100px;
        text-align: center;
    }

    h1 {
        width: 278px;
        height: 60px;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.6px;
        margin: 0 auto;
             
    }

    p {
        width: 304px;
        height: 165px;        
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: center;
        margin: 30px auto 30px;
    }

    img {
        width: 312px;
        height: 288px;
        display: block;
        margin: 0 auto;
        position: absolute;
        bottom: 50px;
        left: 15%;
    }
}